<div class="row">
    <div class="col s12">
        <img class="responsive-img" src="{{recetaSeleccionada?.imagePath}}" alt="{{recetaSeleccionada?.name}}">
    </div>
</div>
<div class="row">
    <div class="col s12">
        <h1>{{recetaSeleccionada?.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col s12">
    	<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">shopping_cart</i></a>
    	<a class="btn-floating btn-large waves-effect waves-light cyan accent-4"><i class="material-icons">mode_edit</i></a>
    	<a class="btn-floating btn-large waves-effect waves-light red darken-4"><i class="material-icons">delete</i></a>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <p>{{recetaSeleccionada?.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col s12">
        Ingredientes
    </div>
</div>
