<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Recipe Book</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">           
            <li><a href="#">Recetas</a></li>
            <li><a href="#">Lista de compras</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">           
            <li><a href="#">Recetas</a></li>
            <li><a href="#">Lista de compras</a></li>
        </ul>
    </div>
</nav>
